<div class="container" (click)="open($event)">
    <header><h1>Producto</h1></header>
    <div class="row" style="display:flex">
      <!--<div id="hideText" style="display: none;">
      <input type="text" (keyup)="onKey($event)" autofocus/>
    </div>-->
      <div class="col-5">
        <label for="cb">Codigo de Barras : </label><br>
        <input #input1 id="cb" type="text" class="barcode" style="border:none" [(ngModel)]="barcode" (keyup.enter)="onKey($event)" autofocus />
        
      </div>
      <div class="col">
        <label class="display-2 text-primary" >Precio: </label>
        <label class="display-2 text-primary">{{ price | currency}}</label>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <label class="display-4"><strong>Total: </strong></label>
        <label class="display-4"><strong>{{ total | currency}}</strong></label>
      </div>
    </div> 
  </div>
