<form #f="ngForm" (ngSubmit)= save(f.value) >
    <div class="form-group">
        <label for="codigo">Codigo: </label>
        <input ngModel name="codigo" id="codigo" type= "text" class = "form-control" (keyup.enter)="onKey($event)">                
    </div>
    <div class="form-group">
        <label for="nombre">Nombre producto: </label>
        <input ngModel name="nombre" id="nombre" type= "text" class = "form-control">                
    </div>
    <div class="form-group">
        <label for="desc">Descripcion producto: </label>
        <input ngModel name="desc" id="desc" type= "text" class = "form-control">                
    </div>
    <div class="form-group">       
        <label for="precio">Precio producto: </label>
        <div class="input-group" >
            <span class="input-group-text">$</span>
            <input ngModel name="precio" id="precio" type= "text" class = "form-control">                
        </div>
    </div>
    <div class="form-group">
        <label for="precioCom">Precio compra: </label>
        <div class="input-group" >
            <span class="input-group-text">$</span>
            <input ngModel name="precioCom" id="precioCom" type= "text" class = "form-control">                
        </div>    
    </div>    
    <button class="btn btn-primary"  [disabled]="addProdFlag">Guardar</button>
</form>
