<form>
    <div class = "row">
        <div class = "col-4" >
            <h1>Buscar por:</h1>        
            <div>  
                <label for="code">Codigo de Barras: </label>
                <input ngModel [(ngModel)]="barcode" name="code" id="code" type= "text" class = "form-control">        
            </div>
            <div>
                <label for="name">Nombre Producto: </label>
                <input ngModel [(ngModel)]="prodName" name="name" id="name" type= "text" class = "form-control">         
            </div>
            <br>
            <div>
                <button class="btn btn-primary" (click)="updateProd()" [disabled] = "prodReturn" style="margin-right: 30px">Actualizar</button>
           
                <button class="btn btn-primary"  (click)="findService()">Buscar</button>
                <br>
                <h3 *ngIf="success"> El producto se actualizo con exito</h3>
            </div>
        </div>
        <div class = "col-2" ></div>
        <div class= "col">
            <h1>Producto</h1>        
            <div>  
                <label><strong>Nombre: </strong></label><br>
                <input ngModel [(ngModel)] = "product.product_name"  name="actName" id="actName" type= "text" class = "form-control">
            </div>
            <div>  
                <label><strong>Precio: </strong></label><br>
                <input ngModel [(ngModel)] = "product.price"  name="actPrecio" id="actPrecio" type= "text" class = "form-control">         
            </div>
            <div>  
                <label><strong>Precio Venta: </strong></label><br>
                <input ngModel [(ngModel)] = "product.sale_price" name="actPV" id="actPV" type= "text" class = "form-control">         
            </div>
            <div>  
                <label><strong>Cantidad disponible: </strong></label><br>
                <input ngModel [(ngModel)] = "product.in_storage" name="actQ" id="actQ" type= "text" class = "form-control">   
            </div>
            <div>  
                <label><strong>Fecha ultimo surtido de producto: </strong></label><br>
                <label>{{ product.last_day_bougth | date:'short'}}</label>
            </div>
        </div>    
    </div>    
</form>